@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@layer components {
  .container-custom {
    @apply max-w-screen-xl mx-auto px-6 md:px-12;
  }
  
  .section-spacing {
    @apply py-20 md:py-28;
  }
}
